html {
    background-image: url("background.jpg");
    background-color: rgb(29, 47, 244);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.content{
    background-color: rgba(255, 255, 255, 0.4);
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    border-radius: 5px;
    padding: 20px 20px ;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Marker Felt, fantasy;
    margin-bottom: 20px;
    margin-top: 20px;
}

.question{
    background: white;
    box-shadow: 7px 7px 0 rgb(36, 143, 27);
    border: 1px solid rgb(36, 143, 27);
    line-height: 1.5em;
}

.result{
    background: white;
    box-shadow: 7px 7px 0 rgb(36, 143, 27);
    border: 1px solid rgb(36, 143, 27);
    line-height: 1.5em;
}

.wrapper{
    max-width: 700px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    background-size: 35px auto;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

.content.disclaimer{
    display: flex;
    margin-bottom: 5px;
    padding: 5px 20px;
    justify-content: center;
}
.content.top_reduce{
    margin-top: 5px;
}


.yes.button{
    background-color: rgb(47, 255, 57);
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.7);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.no.button{
    background-color: rgb(255, 47, 47);
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.7);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.yes.clicked{
    background-color: rgb(32, 167, 39);
}
.no.clicked{
    background-color: rgb(156, 30, 30);
}

.done.button{
    background-color: rgb(47, 255, 57);
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.7);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}




