html {
    background-image: url("background_2.png");
    background-color: rgb(29, 47, 244);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.content{
    background-color: rgba(255, 255, 255, 0.4);
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    border-radius: 5px;
    padding: 20px 20px ;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Marker Felt, fantasy;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
}

.question{
    background: white;
    box-shadow: 4px 4px 0 rgb(36, 143, 27);
    border: 1px solid rgb(36, 143, 27);
    line-height: 1.5em;
}

.result{
    background: white;
    box-shadow: 4px 4px 0 rgb(36, 143, 27);
    border: 1px solid rgb(36, 143, 27);
    line-height: 1.5em;
}
.starting_questions{
    background: white;
    box-shadow: 4px 4px 0 rgb(201, 178, 0);
    border: 1px solid rgb(201, 178, 0);
    line-height: 1.5em;
}

.wrapper{
    max-width: 700px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    background-size: 35px auto;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

.content.disclaimer{
    display: flex;
    margin-bottom: 5px;
    padding: 5px 20px;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
}

.content.top_reduce{
    margin-top: 5px;
}


.button{
    background-color: rgb(47, 255, 57);
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.7);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.yes{
    background-color: rgb(47, 255, 57);
}

.mid{
    background-color: rgb(255, 213, 0);
}

.no{
    background-color: rgb(255, 47, 47);
}

.back{
    background-color: rgb(47, 147, 255);
}

.chro_500{
    background: linear-gradient(45deg, rgb(234, 45, 255),rgb(255, 47, 47), rgb(255, 140, 0), rgb(255, 238, 0));
}

.chro_1500{
    background: linear-gradient(45deg, rgb(234, 45, 255),rgb(255, 47, 47), rgb(255, 140, 0), rgb(255, 238, 0));
}

.chro_4500{
    background: linear-gradient(45deg, rgb(234, 45, 255),rgb(255, 47, 47), rgb(255, 140, 0), rgb(255, 238, 0));
}

.done{
    background: linear-gradient(45deg,rgb(55, 255, 45), rgb(255, 255, 45));
}


.restart{
    margin-top: 0px;
    background-color: rgb(255, 179, 47);
}

.restart.clicked{
    background-color: rgb(185, 130, 33);
}

.content.restart_holder{
    display: flex;
    margin-bottom: 5px;
    padding: 5px 20px;
    justify-content: center;
    background: white;
    box-shadow: 4px 4px 0 rgb(36, 143, 27);
    border: 1px solid rgb(36, 143, 27);
    line-height: 1.5em;
    max-width: fit-content;
}

.button:hover{
    border: 2px solid rgba(27, 31, 35, 0.7);
}

.button.clicked{
    border: 2px solid rgba(27, 31, 35, 0.7);
    cursor: default;
}
.brawler{
    background-color: rgb(47, 147, 255);
}

.future_days{
    background-color: rgb(255, 47, 78);
}


.standard{
    background-color: rgb(47, 147, 255);
}

.without{
    background-color: rgb(255, 230, 0);
}
.fast{
    background-color: rgb(255, 255, 0);
}

.calculator{
    background-color: rgb(255, 170, 0);
}

.rare{
    background-color: rgb(67, 236, 0);
}

.super_rare{
    background-color: rgb(23, 74, 255);
}

.epic{
    background-color: rgb(166, 23, 255);
}

.mythic{
    background-color: rgb(255, 23, 23);
}

.legendary{
    background-color: rgb(255, 240, 23);
}

.chromatic{
    background: linear-gradient(45deg, rgb(234, 45, 255),rgb(255, 47, 47), rgb(255, 140, 0), rgb(255, 238, 0));
}

.starting{
    background-color: rgb(23, 224, 255);
}

.stick{
    background-color: rgb(184, 77, 0);
}

.tier{
    min-width: 280px;
}
.assumptions{
    background-color: rgb(255, 145, 0);
}

html .button.disabled{
    opacity: 0.7;
    cursor: default;
    border: 1px solid rgba(27, 31, 35, 0.7);
}

